modules/sharepoint/amp/target/
projects/3rd-party/greenmail/target/
projects/3rd-party/target/
projects/data-model/target/
projects/dev-tomcat/target/
projects/file-transfer-receiver/target/
projects/legacy-lucene/target/
projects/mbeans/target/
projects/mmt/dependency-reduced-pom.xml
projects/mmt/target/
projects/remote-api/target/
projects/repository/target/
projects/sdk/alfresco-platform-distribution/target/
projects/server-root/target/
projects/solr-client/target/
projects/solr/target/
projects/solr4/target/
projects/system-build-test/target/
projects/web-client/target/
target/
*.swp
